* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #A9F844;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 18px;
}

.menu a {
    font-size: 19px;
    text-decoration: none;
    color: black;
    padding: 12px 17px;
    justify-content: center;
}

#submenu {
    font-size: medium;
    border-radius: 0px 0px 19px 19px;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#submenu a {
    font-size: medium;
    border-radius: 0px 0px 19px 19px;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#submenu a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.botao {
    background-color: #A9F844;
    border: none;
    border-radius: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imagem {
    display: block;
    margin-left: auto;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    grid-column: 1;
}

.imagem p {
    width: 32%;
    height: 30%;
    text-align: justify;
    text-indent: 50px;
}

/*.imagem1 {
    display: inline-flex;  
}*/



.main {
/*    width: 100%;
    overflow: hidden; */
    display: grid;
    grid-template-columns: 66.667% 33.334%;
}

.container {
/*    width: 70%;
    height: 100%;
    float: left; */
    padding: 30px;
}

.sidebar {
   /* width: 30%;
    height: 100%;
    float: right; */
    padding: 30px;
}

.gallery {
    overflow: hidden;
    margin-bottom: 30px;
}


.main-photo {
    border-radius: 15px;
    height: auto;
    max-height: 400px;
    float: left;
    width: 80%;
}

.gallery-sidebar{
    float: right;
    width: 20%; 
    padding: 0 10px 0;
}

.gallery-sidebar img {
    max-height: 100px;
    display: block;
    margin-bottom: 10px;
}

.product-title {
    font-size: 25px;
    text-align: center;
    margin: 30px 0 50px;
}

.price {
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}